<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="main.css">
<script src="js/libs/three.min.js"></script>
<script src="js/seventh.js"></script>
<script src="js/orbitcontrols.js"></script>
<script src="js/loop.js"></script>
<script src="js/libs/vexflow.js"></script>
<script src="js/notation.js"></script>
<script src="js/app.js"></script>
<script src="js/setup.js"></script>
<script src="js/libs/noise.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/BFS.js"></script>
</head>
<body>

	<script>
		
			var render = function () {
				// console.log('o')
				requestAnimationFrame( render );
				animationLoop();
				renderer.render(scene, camera);
			};
			//render();
		</script>

	
<div id="label">hello</div>
<div id="currentChordLabel">hello</div>

<div id="notation"></div>


<div id="app">
	<div id="current">
		{{current.root}}{{current.signjs}}{{current.stem}}<sup>{{current.super}}</sup>
		<!-- <p v-for="chord in path">
		{{chord.root}}
		</p> -->
	<div id = "pathway">
		<div class = "path" v-if="path[0]">
			{{path[0].root}}{{path[0].signjs}}{{path[0].stem}}<sup>{{path[0].super}}</sup>
		</div>
		<div class = "path" v-if="path[1]">
			{{path[1].root}}{{path[1].signjs}}{{path[1].stem}}<sup>{{path[1].super}}</sup>
		</div>
		<div class = "path" v-if="path[2]">
			{{path[2].root}}{{path[2].signjs}}{{path[2].stem}}<sup>{{path[2].super}}</sup>
		</div>
		<div class = "path" v-if="path[3]">
			{{path[3].root}}{{path[3].signjs}}{{path[3].stem}}<sup>{{path[3].super}}</sup>
		</div>
		<div class = "path" v-if="path[4]">
			{{path[4].root}}{{path[4].signjs}}{{path[4].stem}}<sup>{{path[4].super}}</sup>
		</div>

	</div>

	</div>
	<div id="arrows">
		<div id="w" class="arrow">
			W
			<div id="wChord" class="chord">
			{{w.root}}{{w.signjs}}{{w.stem}}<sup>{{w.super}}</sup>
			</div>
		</div>
		<div id="a" class="arrow">
			A
			<div id="aChord" class="chord">
			{{a.root}}{{a.signjs}}{{a.stem}}<sup>{{a.super}}</sup>
			</div>
		</div>
		<div id="s" class="arrow">
			S
			<div id="sChord" class="chord">
			{{s.root}}{{s.signjs}}{{s.stem}}<sup>{{s.super}}</sup>
			</div>
		</div>
		<div id="d" class="arrow">
			D
			<div id="dChord" class="chord">
			{{d.root}}{{d.signjs}}{{d.stem}}<sup>{{d.super}}</sup>
			</div>
		</div>
		<div v-if="z" id="z" class="arrow">
			Z
			<div id="zChord" class="chord">
			{{z.root}}{{z.signjs}}{{z.stem}}<sup>{{z.super}}</sup>
			</div>
		</div>
	</div>
	<div id="radio">
		
			<input type="radio" id="rigid" value="rigid" v-model="integrity"  v-on:change="setIntegrity()">
			<label for="one"><span class="radioBackground">rigid</span></label>
			<br>
			<input type="radio" id="moderate" value="moderate" v-model="integrity" v-on:change="setIntegrity()">
			<label for="two"><span class="radioBackground">moderate</span></label>
			<br>
			<input type="radio" id="diffuse" value="diffuse" v-model="integrity" v-on:change="setIntegrity()">
			<label for="two"><span class="radioBackground">diffuse</span></label>
			<br>
		<!-- <span>Picked: {{ integrity }}</span> -->
		<div id='example-3'>
		<br>
			<label for="dom"><span class="radioBackground">dom</label>
		  <input type="checkbox" id="dom" value="dom" v-model="checkedChords" v-on:change="reset()">
		  
		  <br>
		  <label for="dim"><span class="radioBackground">dim</label>
		  <input type="checkbox" id="dim" value="dim" v-model="checkedChords" v-on:change="reset()">
		  
		  <br>
		  <label for="fr"><span class="radioBackground">fr</label>
		  <input type="checkbox" id="fr" value="fr" v-model="checkedChords" v-on:change="reset()"> 
		  
		  <br>
		  <label for="hd"><span class="radioBackground">hd</label>
		  <input type="checkbox" id="hd" value="hd" v-model="checkedChords" v-on:change="reset()">
		  
		  <br>
		  <label for="m7"><span class="radioBackground">m7</label>
		  <input type="checkbox" id="m7" value="m7" v-model="checkedChords" v-on:change="reset()">
		  

  		<br>
  		<span>Checked chords {{ checkedChords }}</span>
		</div>
	</div>
</div>
</body>
</html>




