body{
	font-family:helvetica;
	margin:0px;
}


#label{
	display:none;
	position:fixed;
	z-index:1;
	font-size:30px;
	background-color:black;
	color:white;
	padding:3px
}


#app{
	z-index:1;
	position:fixed;
	left:0;
	background-color:white;
	width:100%;
}

#current{
	position:fixed;
	z-index:1;
	left:0px;
	color:white;
	font-size:70px;
}


#arrows{
	/*background-color:red;*/
	position:fixed;
	top:0px;
	right:0px;
	width:31.8%;
	padding-top:31.8%;
}

.chord{
	position:absolute;
	top:50%;
	color:olive;
	font-size:2.5vw;
	text-align:center;
}

.arrow{
	vertical-align:center;
	position:absolute;
	background-color:white;
	opacity:0.7;
	width:30%;
	height:30%;
	font-size:10vw;
	text-align:center;
	color:lightgrey;
}

#w{
	left:23%;
	top:1%;

}
#a{
	left:0%;
	top:33%;
}
#s{
	left:33%;
	top:33%;

}
#d{
	left:66%;
	top:33%;

}
#z{
	left:15%;
	top:66%;
}
